<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="static/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- bootstrap -->
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <title>Anas's Flight Club</title>
  </head>
  <body class="bg-purple" style="width: 100%">
    <div class="stars">
      <div class="custom-navbar">
        <div class="brand-logo">
          <img src="static/logo.png" class="img-logo" alt="" />
        </div>
        <div class="navbar-links">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="https://csstudentanas.github.io/Anas-Ajaanan/">About</a>
            </li>
            <li>
              <a href="/features">Features</a>
            </li>
            <li>
              <a
                href="mailto: anasajaanan.official@gmail.com"
                class="btn-request"
                target="_blank"
                >Email me</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="container-fluid text-center" id="div-container">
        <div class="row">
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 collumn">
            <img src="https://cdn.jacksflightclub.com/id/46960" alt="" />
            <h3>Join Anas's Flight Club</h3>
            <p>
              Simply enter your email to become a free member and we'll start
              sending you our newsletter with the world's cheapest flights!
            </p>
          </div>

          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 collumn">
            <img src="https://cdn.jacksflightclub.com/id/46962" alt="" />
            <h3>Get cheap flight deals</h3>
            <p>
              We'll get busy finding you the best cheap flights, discounts,
              hidden offers, error fares, and inspiring travel-related content
              to make your dream trips happen.
            </p>
          </div>

          
        </div>
      </div>

      <div class="objects">
        <div class="earth-moon">
          <img
            class="object_earth"
            src="http://salehriaz.com/404Page/img/earth.svg"
            width="100px"
          />
          <img
            class="object_moon"
            src="http://salehriaz.com/404Page/img/moon.svg"
            width="80px"
          />
        </div>

        <img class="object_rocket" src="static/plane.png" width="10%" />
        <img class="object_rocket2" src="static/plane.png" width="10%" />
      </div>
      <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
      </div>
    </div>
    <div class="text-center p-3 div-copyright">
      © 2022 Copyright:
      <a
        class="text-white"
        href="https://csstudentanas.github.io/Anas-Ajaanan/"
        style="color: #fec403 !important"
        >Anas Ajaanan</a
      >
    </div>
  </body>
</html>
