<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="static/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />

    <title>Anas's Flight Club</title>
  </head>
  <body class="bg-purple" style="width: 100%">
    <div class="stars">
      <div class="custom-navbar">
        <div class="brand-logo">
          <img src="static/logo.png" class="img-logo" alt="" />
        </div>
        <div class="navbar-links">
          <ul>
            <li>
              <a href="/" >Home</a>
            </li>
            <li>
              <a
                href="https://csstudentanas.github.io/Anas-Ajaanan/"
                
                >About</a
              >
            </li>
            <li>
              <a href="/features" >Features</a>
            </li>
            <li>
              <a
                href="mailto: anasajaanan.official@gmail.com"
                class="btn-request"
                target="_blank"
                >Email me</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="description-div">
        <h3 class="description">
          We let you know when flights to amazing destinations go really,
          reaaally cheap!
        </h3>
      </div>

      <div class="enter-email">
        <form class="form" method="POST" action="/">
          <div class="form-group">
            <input
              type="email"
              name="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter your email here to join..."
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              required
            />

              <button class="btn-go-home" >SEND ME SHEAP FLIGHTS,ANAS!</button>

{#            <div class="central-body">#}
{#              <a href="#"#}
{#                ><button class="btn-go-home">SEND ME SHEAP FLIGHTS,ANAS!</button></a#}
{#              >#}
{#            </div>#}
          </div>
        </form>
      </div>

      <div class="objects">
        <div class="earth-moon">
          <img
            class="object_earth"
            src="http://salehriaz.com/404Page/img/earth.svg"
            width="100px"
          />
          <img
            class="object_moon"
            src="http://salehriaz.com/404Page/img/moon.svg"
            width="80px"
          />
        </div>
        <div class="box_astronaut">
          <img
            class="object_astronaut"
            src="http://salehriaz.com/404Page/img/astronaut.svg"
            width="140px"
          />
        </div>
        <img class="object_rocket" src="static/plane.png" width="10%" />
        <img class="object_rocket2" src="static/plane.png" width="10%" />
      </div>
      <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
      </div>
    </div>
  </body>
</html>
